# =============================
# Vault Specific
# =============================
workspaces.json

# =============================
# Plugin Specific
# =============================

# Image Converter
image-converter-image-alignments.json
